{% extends "./base.html.twig" %}

{% block body %}

<div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/business/opportunities">{% trans %}opportunities{% endtrans %}</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">{% trans %}Converted{% endtrans %}</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{% trans %}Converted Opportunity{% endtrans %}</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <form method="POST">
                                    {{ form_start(form) }}
                                        <div class="form-group row">

                                            <div class="col-md-4 mb-6">
                                                    <label for="projectName" class="form-label">{% trans %}Department{% endtrans %}</label>
                                                    {{ form_row(form.id_department) }}
                                            </div>

                                            <div class="col-md-4 mb-6">
                                                    <label for="projectName" class="form-label">{% trans %}Stage{% endtrans %}</label>
                                                    {{ form_row(form.id_stage) }}
                                            </div>

                                            <div class="col-md-3 mb-6">
                                                    <label for="projectName" class="form-label">{% trans %}Source{% endtrans %}</label>
                                                    {{ form_row(form.id_source) }}
                                            </div>

                                            <div class="col-md-4 mb-6">
                                                    <label for="projectName" class="form-label">{% trans %}Probability{% endtrans %}</label>
                                                    {{ form_row(form.probability) }}
                                            </div>

                                            <div class="col-md-3 mb-6">
                                                    <label for="projectName" class="form-label">{% trans %}Product{% endtrans %}</label>
                                                    {{ form_row(form.product) }}
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Close Date{% endtrans %}</label>
                                                    {{ form_row(form.closedate) }}
                                            </div>


  {{ form_rest(form) }}


                                            <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div style="width:100%; display:inline-block; float:right;margin-left:15px">
                                                    <div class="card">
                                                        <div class="card-body">
                                                        {{ form_start(form2) }}
                                                        <p><b>{% trans %}Account{% endtrans %}</b></p>
                                                            <div class="form-group row">
                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}Name{% endtrans %}</label>
                                                                        {{ form_row(form2.name) }}
                                                                </div>

                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}NIF{% endtrans %}</label>
                                                                        {{ form_row(form2.NIF) }}
                                                                </div>

                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}Area{% endtrans %}</label>
                                                                        {{ form_row(form2.idarea) }}
                                                                </div>

                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}Type{% endtrans %}</label>
                                                                        {{ form_row(form2.idtype) }}
                                                                </div>

                                                            
                                                                   <div class="row">
                                                                        <div class="col-md-12 mb-6 ">    
                                                                        <label class="form-label " for="pro-end-date">{% trans %}Departments{% endtrans %}</label>                                                        
                                                                                <div class="card">
                                                                                    <div class="card-body">                                                                                                                                                                     
                                                                                            <div class="checkbox-row">                                                                                        
                                                                                                {% for departments in form2.departments %}
                                                                                                    <tr>
                                                                                                        <td>{{ form_row(departments, {
                                                                                                                            'attr': {
                                                                                                                                'class': 'custom-checkbox',
                                                                                                                            }
                                                                                                                }) }}</td>
                                                                                                    </tr>
                                                                                                {% endfor %}
                                                                                    </div> <!--end card-body-->
                                                                                </div> <!--end card-body-->
                                                                            </div> <!--end col-->                        
                                                                        </div> <!--end col-->                                          
                                                                    </div><!--end row-->                                        
                                                               
                                                                
                                                            </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-12 mb-6">
                                                                            <label for="projectName" class="form-label">{% trans %}Description{% endtrans %}</label>
                                                                            {{ form_row(form2.description) }}
                                                                    </div>
                                                            </div> <!--end container-->
                                                            
                                                        </div> <!--end card-body-->
                                                    </div> <!--end card-body-->
                                                </div> <!--end col-->                        
                                            </div> <!--end col--> 
                                            <p><b>{% trans %}Account Info{% endtrans %}</b></p>
                                                            <div class="col-12 col-lg-12">
                                                                <div style="width:50%; display:inline-block; float:right;margin-left:15px">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div id="containerphone">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('phone')">{% trans %}Add Phone Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                </div> <!--end col-->
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        
                                                                            <div id="containeremail">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('email')">{% trans %}Add Email Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                
                                                            </div> <!--end col-->                                          
                                                        </div><!--end row-->

                                                        <div class="row">
                                                            <div class="col-12 col-lg-12">
                                                                <div style="width:100%; display:inline-block; float:right;margin-left:15px">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div id="containeraddress">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('address')">{% trans %}Add Address Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                </div> <!--end col-->                        
                                                            </div> <!--end col-->                                          
                                                        </div><!--end row-->                                         
                                        </div><!--end row-->
 {{ form_rest(form2) }}
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div style="width:100%; display:inline-block; float:right;margin-left:15px">
                                                    <div class="card">
                                                        <div class="card-body">
                                                        {{ form_start(form3) }}
                                                        <p><b>Contact</b></p>
                                                            <div class="form-group row">
                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}Name{% endtrans %}</label>
                                                                        {{ form_row(form3.name) }}
                                                                </div>

                                                                <div class="col-md-6 mb-6">
                                                                        <label for="projectName" class="form-label">{% trans %}Surname{% endtrans %}</label>
                                                                        {{ form_row(form3.surname) }}
                                                                </div>
                                                                
                                                            </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-12 mb-6">
                                                                            <label for="projectName" class="form-label">{% trans %}Description{% endtrans %}</label>
                                                                            {{ form_row(form3.description) }}
                                                                    </div>
                                                            </div> <!--end container-->
                                                        </div> <!--end card-body-->
                                                    </div> <!--end card-body-->
                                                </div> <!--end col-->                        
                                            </div> <!--end col--> 
                                            <p><b>{% trans %}Contact Info{% endtrans %}</b></p>
                                                            <div class="col-12 col-lg-12">
                                                                <div style="width:50%; display:inline-block; float:right;margin-left:15px">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div id="containerphone2">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('phone')">{% trans %}Add Phone Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                </div> <!--end col-->
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        
                                                                            <div id="containeremail2">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('email')">{% trans %}Add Email Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                
                                                            </div> <!--end col-->                                          
                                                        </div><!--end row-->

                                                        <div class="row">
                                                            <div class="col-12 col-lg-12">
                                                                <div style="width:100%; display:inline-block; float:right;margin-left:15px">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div id="containeraddress2">
                                                                                <button type="button" style="float:right" class="btn btn-de-success btn-sm text-light px-4 mb-0" onclick="addInputField('address')">{% trans %}Add Address Field{% endtrans %}</button>
                                                                            </div> <!--end container-->
                                                                        </div> <!--end card-body-->
                                                                    </div> <!--end card-body-->
                                                                </div> <!--end col-->                        
                                                            </div> <!--end col-->                                          
                                                        </div><!--end row-->                                         
                                        </div><!--end row-->



                                        </div>
                                    </div> <!--end card-body-->                                           
                                </div><!--end card-->
                            </div> <!--end col-->                                          
                        </div><!--end row-->
                       {#  {{ form_end(form) }}
                        </form> #}
                                     {{ form_rest(form3) }}          
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto">
                            <div class="form-group">
                            <a style="float:right; margin-right: 5px;" class="btn btn-de-secondary btn-sm text-light px-4 mt-3 mb-0" onclick="window.history.back()" >{% trans %}Back{% endtrans %}</a>                                                                                           
                        </div>
                            <div class="form-group">
                            <button type="submit" style="float:right; margin-right:15px" class="btn btn-de-success btn-sm text-light px-4 mt-3 mb-0">{% trans %}Convert{% endtrans %}</button>                                                                                                                                                                                     
                        </div>                
                        </div> <!--end col-->                                          
                    </div><!--end row-->
                   
                    {{ form_end(form) }}
                   
                    {{ form_end(form2) }}
                   
                    {{ form_end(form3) }}
                    </form>


                        <br>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">


        $(document).ready(function () {
            
            document.body.classList.toggle('enlarge-menu');
        });

let CreateInputAddress = null;
let CreateInputCity = null;
let CreateInputPostalCode = null;





function addInputField(fieldadded) {
      const container = document.getElementById("container" + fieldadded);
      
      const deleteButton = document.createElement("button");
      deleteButton.classList.add("las");
      deleteButton.classList.add("la-trash-alt");
      deleteButton.classList.add("deletebutton");

      if (fieldadded === "phone") {
        const CreateInput = document.createElement("input");
        CreateInput.classList.add("textboxphone");
        CreateInput.name = fieldadded + '[]';
        container.appendChild(CreateInput).placeholder = "Phone";
           deleteButton.addEventListener("click", function() {
            container.removeChild(CreateInput);
            container.removeChild(deleteButton);
        });
      }

      if (fieldadded === "email") {
        const CreateInput = document.createElement("input");
        CreateInput.classList.add("textboxemail");
        CreateInput.name = fieldadded + '[]';
        container.appendChild(CreateInput).placeholder = "Email";
           deleteButton.addEventListener("click", function() {
            container.removeChild(CreateInput);
            container.removeChild(deleteButton);
        });
      }

      if (fieldadded === "address") {
        const CreateInputAddress = document.createElement("input");
        const CreateInputCity = document.createElement("input");
        const CreateInputPostalCode = document.createElement("input");

        CreateInputAddress.classList.add("textboxaddress");
        CreateInputCity.classList.add("textboxaddress");
        CreateInputPostalCode.classList.add("textboxaddress");

        CreateInputAddress.name = fieldadded + 'address' + '[]';
        CreateInputCity.name = fieldadded + 'city' + '[]';
        CreateInputPostalCode.name = fieldadded + 'postalcode' + '[]';

        CreateInputAddress.placeholder = "Address";
        CreateInputCity.placeholder = "City";
        CreateInputPostalCode.placeholder = "Postal Code";

        container.appendChild(CreateInputAddress);
        container.appendChild(CreateInputCity);
        container.appendChild(CreateInputPostalCode);

          deleteButton.addEventListener("click", function() {
         
                event.preventDefault();
                container.removeChild(CreateInputAddress);
                container.removeChild(CreateInputCity);
                container.removeChild(CreateInputPostalCode);
                container.removeChild(deleteButton);
        });
      }

      container.appendChild(deleteButton);
    }
</script>

<style>
.deletebutton {
border: none;
outline: none;
background: none;
font-size: 20px;
color: red;
}

.textboxphone{
width: 195px;
height: 30px;
padding: 5px;
border: 1px solid #e8ebf3;
border-radius: 4px;
margin-bottom: 5px;
font-size: .8125rem;
}

.textboxemail{
width: 185px;
height: 30px;
padding: 5px;
border: 1px solid #e8ebf3;
border-radius: 4px;
margin-bottom: 5px;
font-size: .8125rem;
}

.textboxaddress{
width: 177px;
height: 30px;
padding: 5px;
border: 1px solid #e8ebf3;
border-radius: 4px;
margin-bottom: 5px;
font-size: .8125rem;
margin-right: 10px;
display: inline-block;
}

</style>
            
{% endblock %}