{% extends "./base.html.twig" %}

{% block body %}

<div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">CRM Central</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/accounts">Leads</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Leads</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->

                        <p><input style="width: 300px;" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search..." class="form-control"></p><br>

                        <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">                      
                                            <h4 class="card-title">Leads Details</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->

  <table class="table table-hover" style="text-align:center">
            <thead class="table-secondary">
                <tr>
                <th onclick="sortTable(0)" style="-webkit-user-select: none; width: 5%; cursor: pointer" style="width: 5%" scope="col">{% trans %}Name{% endtrans %}</th>
                <th onclick="sortTable(1)" style="-webkit-user-select: none; width: 8%; cursor: pointer" style="width: 8%" scope="col">{% trans %}Status{% endtrans %}</th>
                <th onclick="sortTable(2)" style="-webkit-user-select: none; width: 8%; cursor: pointer" style="width: 8%" scope="col">{% trans %}Account{% endtrans %}</th>
                <th onclick="sortTable(3)" style="-webkit-user-select: none; width: 8%; cursor: pointer" style="width: 8%" scope="col">{% trans %}User{% endtrans %}</th>
                <th onclick="sortTable(4)" style="-webkit-user-select: none; width: 8%; cursor: pointer" style="width: 8%" scope="col">{% trans %}Amount{% endtrans %}</th>
                <th style="width: 19%;cursor: default; -webkit-user-select: none;" scope="col">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>

            <tbody id="myTable">
                <tr>

                {% for lead in leads %}

                        <td style="vertical-align: middle">{{ lead.name }}</td>
                        <td style="vertical-align: middle">{{ lead.name }}</td>
                        <td style="vertical-align: middle">{{ lead.account }}</td>
                        <td style="vertical-align: middle">{{ lead.createdby.name }}</td>
                        <td style="vertical-align: middle">{{ lead.amount }}</td>

                        <td style="-webkit-user-select: none; vertical-align: middle">

                {% if app.user.id is defined%} 
                         {% if app.user.userRole.role == "SUPERADMIN" %} 
                        <a href="/leads/{{lead.id}}">
                            <span class="btn btn-outline-info col-lg-3" style="text-align: center">Show</a></span>
                        <a href="/leads/edit/{{lead.id}}">
                            <span class="btn btn-outline-success col-lg-3" style="text-align: center">Edit</a></span>
                        <a href="/leads/delete/{{lead.id}}" onclick="return confirm('Are you sure you want to permanently remove this item?')">
                                <span class="btn btn-outline-danger col-lg-3" style="text-align: center">Delete</a></span>
                        {% endif %} 

                         {% if app.user.userRole.role == "USER" %} 

                        <a href="/leads/{{lead.id}}">
                            <span class="btn btn-outline-info col-lg-3  " style="text-align: center;">Show</a></span> 

                         {% endif %}  
                     {% endif %} 
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

<script type="text/javascript">

    function myFunction() 
    {
        var input, filter, table, tr, td, i, TxtValue, x, flag;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++)
        {
            flag = 0;

            for (x = 0; x < tr[i].getElementsByTagName("td").length-1; x++)
            {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) 
                {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        flag = 1;
                    } 
                }
            }
            if(flag==1)
            {
                tr[i].style.display = "";
            }
            else
            {
                tr[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %} 