{% extends "./base.html.twig" %}

{% block body %}

<div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/business/leads">{% trans %}Leads{% endtrans %}</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">{% trans %}Show{% endtrans %}</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{% trans %}Lead{% endtrans %} {{ leads.name }}</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                                       
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/business/leads">
                                        <div class="form-group row">
                                            <div class="col-md-4 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Name{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.name }}
                                                    </div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                    <label for="projectName" class="form-label">Id</label>
                                                    <div class="form-control">
                                                        {{ leads.id }}
                                                    </div>
                                            </div>

                                             <div class="col-md-3 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Status{% endtrans %}</label>
                                                    <div class="form-control">
                                                    {{ leads.idstatus.name }}
                                                    </div>
                                            </div>

                                             <div class="col-md-3 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Source{% endtrans %}</label>
                                                    <div class="form-control">
                                                       {{ leads.idsource.name }}
                                                    </div>
                                            </div>  
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Account{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.account }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}User{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.iduser.name }}
                                                    </div>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-md-3 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Area{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.idarea.name }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-3 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Department{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.iddepartment.name }}
                                                    </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Amount{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.amount }} $
                                                    </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="form-group row">

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Created By{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.createdby.name }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Created At{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.createdat|date('Y-m-d H:i:s') }}
                                                    </div>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Update By{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.updatedby.name }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Updated At{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.updatedat|date('Y-m-d H:i:s') }}
                                                    </div>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-md-12 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Description{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ leads.description }}
                                                    </div>
                                            </div> 
                                            
                                        </div>

                                        <br>

                                        <div class="form-group"> 
                                            <a style="float:right" class="btn btn-de-secondary btn-sm text-light px-4 mt-3 mb-0 " onclick="window.history.back()" >{% trans %}Back{% endtrans %}</a>
                                        </div>
                                        <div class="form-group"> 
                                            <a href="/pdf/generator/leads/{{ leads.id}}" type="submit" target="_blank"  style="float:right; margin-right:15px" class="btn btn-de-danger btn-sm text-light px-4 mt-3 mb-0 ">{% trans %}PDF{% endtrans %}</a>
                                        </div>
                                    </form>
                                </div> <!--end card-body-->                                           
                            </div><!--end card-->
                        </div> <!--end col-->                                          
                    </div><!--end row-->

{% endblock %}