{% extends 'base.html.twig' %} 

{% block body %}

   <div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                       <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options">Authentication</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">Users</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Authentication</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->

                        <div style="margin-top:0px; margin-bottom:20px;padding-left:10px; padding-right:25px">
                         <form action="/authentication/users/create">
                            <input type="text" style="float:left; width:300px" id="myInput" onkeyup="myFunction()" type="text" placeholder="{% trans %}Search{% endtrans %}..." class="form-control"></input>
                            <button type="submit" style="float:right"class="btn btn-outline-secondary">{% trans %}Create User{% endtrans %}</button>
                        </form>
                            <a href="/pdf/generator/accounts" type="submit" target="_blank" style="float:right; width:10%; margin-right:5px"class="btn btn-outline-danger">{% trans %}Export PDF{% endtrans %}</a>
                            <a href="/excel/generator/users" type="submit" target="_blank" style="float:right; width:12%; margin-right:5px"class="btn btn-outline-success">{% trans %}Export Excel{% endtrans %}</a>
                        </div>
                        <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">                      
                                            <h4 class="card-title">Users Details</h4>             
                                        </div><!--end col-->                                       
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->
                                <div class="card-body">                                    
                                    <div class="table-responsive" style="">
                                        <table class="table mb-0">
                                            <thead>
                                            <tr>
                                                <th onclick="sortTable(0)" style="-webkit-user-select: none; cursor: pointer" scope="col">{% trans %}Id{% endtrans %}</th>
                                                <th onclick="sortTable(1)" style="-webkit-user-select: none; cursor: pointer" scope="col">{% trans %}Name{% endtrans %}</th>
                                                <th onclick="sortTable(2)" style="-webkit-user-select: none; cursor: pointer" scope="col">{% trans %}Role{% endtrans %}</th>
                                                <th onclick="sortTable(3)" style="-webkit-user-select: none; cursor: pointer" scope="col">{% trans %}Email{% endtrans %}</th>
                                                <th onclick="sortTable(4)" style="-webkit-user-select: none; cursor: pointer" scope="col">{% trans %}Status{% endtrans %}</th>
                                                <th style="width: 10%;cursor: default; -webkit-user-select: none;" scope="col">{% trans %}Actions{% endtrans %}</th>
                                            </tr><!--end tr-->
                                            </thead>
                                            <tbody id="myTable">
                                                    <tr>

                                                    {% for user in users %}
                            
                                                        <td style="vertical-align: middle">{{ user.id }}</td>
                                                        <td style="vertical-align: middle">{{ user.name }}</td>
                                                        <td style="vertical-align: middle">{{ user.userRole.role }}</td>
                                                        <td style="vertical-align: middle">{{ user.email }}</td>
                                                        <td style="vertical-align: middle">{% if user.active == 1 %}Active{% endif %}{% if user.active == 0 %}Disable{% endif %}</td>

                                                        <td style="-webkit-user-select: none; vertical-align: middle">

                                                            {% if app.user.id is defined%}
                                                            <a href="users/show/{{ user.id }}"><i class="mdi mdi-eye-outline text-secondary font-16"></i></a>
                                                            <a href="users/edit/{{ user.id }}"><i class="las la-pen text-secondary font-16"></i></a>
                                                            <a href="users/delete/{{ user.id }}"><i class="las la-trash-alt text-secondary font-16" onclick="return confirm('are you sure?')"></i></a>
                                                            {% endif %}
                                                         </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                        </table>
                                                             
                                    </div>  
                                    <div class="row">
                                        <form  class="col">
                                           
                                        </form>
                                             
                                                                   
                                    </div><!--end row-->                                     
                                </div><!--end card-body--> 
                            </div><!--end card-->   
                        </div> <!--end col-->                               
                    </div><!--end row-->

<script type="text/javascript">

    function myFunction() 
    {
        var input, filter, table, tr, td, i, TxtValue, x, flag;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++)
        {
            flag = 0;

            for (x = 0; x < tr[i].getElementsByTagName("td").length-1; x++)
            {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) 
                {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        flag = 1;
                    } 
                }
            }
            if(flag==1)
            {
                tr[i].style.display = "";
            }
            else
            {
                tr[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %} 
