{% extends "./base.html.twig" %}

{% block body %}

<div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options">{% trans %}Settings{% endtrans %}</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item"><a href="/options/priorities">{% trans %}Priority{% endtrans %}</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">{% trans %}Show{% endtrans %}</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{{ priority.name }}</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group row">
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Name{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ priority.name }}
                                                    </div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                    <label for="projectName" class="form-label">id</label>
                                                    <div class="form-control">
                                                        {{ priority.id }}
                                                    </div>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Status{% endtrans %}</label>
                                                    <div class="form-control">
                                                    {% if priority.active == 1 %}
                                                            {% trans %}Active{% endtrans %}
                                                    {% endif %}

                                                    {% if priority.active == 0 %}
                                                            {% trans %}Disable{% endtrans %}
                                                    {% endif %}
                                                    </div>
                                            </div>
                                            </div>

                                            <div class="form-group row">

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Created By{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ priority.createdby.name }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Created At{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ priority.createdat|date('Y-m-d H:i:s') }}
                                                    </div>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Update By{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ priority.updatedby.name }}
                                                    </div>
                                            </div> 
                                            
                                            <div class="col-md-6 mb-3">
                                                    <label for="projectName" class="form-label">{% trans %}Updated At{% endtrans %}</label>
                                                    <div class="form-control">
                                                        {{ priority.updatedat|date('Y-m-d H:i:s') }}
                                                    </div>
                                            </div>
                                            
                                        </div>
                                        <br>
                                    </form>
                                    <form action="/options/priorities">
                                        <div class="form-group">
                                            <a style="float:right; margin-right: 5px;" class="btn btn-de-secondary btn-sm text-light px-4 mt-3 mb-0" onclick="window.history.back()" >{% trans %}Back{% endtrans %}</a>
                                        </div>
                                    </form>
                                </div> <!--end card-body-->                                           
                            </div><!--end card-->
                        </div> <!--end col-->                                          
                    </div><!--end row-->

{% endblock %}