
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Business </title>
        <link rel="icon" href="{{ asset('img/business3.ico') }}">

        {% block stylesheets %}
            <link rel="shortcut icon" href="/images/logoheader.jpg">
            <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.css" rel="stylesheet"/>
            <link href="/plugins/metric/dist/assets/plugins/dragula/dragula.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />
            <link href="/plugins/metric/dist/assets/css/app.css" rel="stylesheet" type="text/css" />
            <link href="assets/plugins/lightpicker/litepicker.css" rel="stylesheet" type="text/css" />
            
        {% endblock %}
   
    </head>

    <body id="body">
    <!-- Top Bar Start -->
        <div class="topbar">            
            <!-- Navbar -->
            <nav class="navbar-custom" id="navbar-custom">    
                <ul class="list-unstyled topbar-nav float-end mb-0">
                    <li class="dropdown">
                        <!-- Add fields here-->
                    </li><!--end topbar-language-->

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <img src="{{ asset('uploads/userimg/' ~ app.user.photo ~ '') }}" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                                <div>
                                    <small class="d-none d-md-block font-11">{{ app.user.userRole.role }}</small>
                                    <span class="d-none d-md-block fw-semibold font-12" style="text-transform: capitalize"> {{ app.user.name }} <i
                                            class="mdi mdi-chevron-down"></i></span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/profile/{{ app.user.id }}"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                             {% if app.user.id is defined%} 

                            {% if app.user.userRole.role == "SUPERADMIN" %} 
                            <a class="dropdown-item" href="/settings"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a>
                            {% endif %} 

                            {% if app.user.userRole.role == "USER" %} 

                            {% endif %}  
                         {% endif %}
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="/logout"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                        </div>
                    </li><!--end topbar-profile-->

                    {% if app.user.id is defined%} 

                            {% if app.user.userRole.role == "SUPERADMIN" %} 
                    <li class="notification-list">
                        <a class="nav-link arrow-none nav-icon offcanvas-btn" href="/settings"  type="button" >
                            <i class="ti ti-settings ti-spin"></i>
                        </a>
                    </li>
                    {% endif %} 

                            {% if app.user.userRole.role == "USER" %} 

                            {% endif %}  
                         {% endif %}   
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">                        
                    <li>
                        <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                            <i class="ti ti-menu-2"></i>
                        </button>
                    </li> 
                                     
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
    <!-- Top Bar End -->

        <div class="main-menu-inner">
            {% include '/sidebar.html.twig' %}
        </div> 

        <div class="page-wrapper">
            <div class="page-content-tab">


            {# pop up message Created #}
                {% for notice in app.flashes('notice') %}
                    <div class="alert alert-light alert-dismissible fade show border-0" role="alert">
                        {{ notice }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                {% endfor %}

                {% for notice in app.flashes('delete') %}
                    <div class="card-body" style = "position: absolute; width:300px; top: 10px; z-index: 10; right:10px; "> 
                        <div class="alert custom-alert custom-alert-primary icon-custom-alert shadow-sm fade show" style="background-color:white;"role="alert">                                            
                            <i class="mdi mdi-alert-outline alert-icon text-primary align-self-center font-30 me-3"></i>
                            <div class="alert-text my-1">
                                <h5 class="mb-1 fw-bold mt-0">Message</h5>
                                <span> {{ notice }}</span>
                            </div>                                        
                            <div class="alert-close">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>                                                                                           
                    </div><!--end card-body--> 
                {% endfor %}


                {% block body %}
            
                {% endblock %}
            </div>
        </div>
            
         {% block javascripts %}

        <script src="{{ asset('plugins/metric/dist/assets/js/teste.js') }}"></script>
        <script src="{{ asset('plugins/metric/dist/assets/plugins/dragula/dragula.min.js') }}"></script>
        <script src="{{ asset('plugins/metric/dist/assets/pages/dragula.init.js') }}"></script>
        <script src="{{ asset('plugins/metric/dist/assets/plugins/apexcharts/apexcharts.min.js') }}"></script>
        <script src="{{ asset('plugins/metric/dist/assets/pages/crm-index.init.js') }}"></script>
        <script src="{{ asset('plugins/metric/dist/assets/js/app.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

            <script>
            $(document).ready(function () {
                $('#pagination').DataTable();
            });
            </script>
    </body>
</html>
{% endblock %}

