{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>Business</title>
  <style>
    #banner {
      background-color: #608E34;
      padding: 5px;
      text-align: center;
      font-size: 12px;
      border-radius: 10px;
      color: white;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 20px;
    }
  </style>
</head>
<img src="{{ imageSrc }}"  width="80" alt="Logo"/>
<body>
<div id="banner">
  <h1>{% trans %}Accounts Details{% endtrans %}</h1>
  </div>
  <br>
  <table>
    <tr>
      <td>Id</td>
      <td>{{ accounts.id }}</td>
    </tr>
    <tr>
      <td>{% trans %}Name{% endtrans %}</td>
      <td>{{ accounts.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Created By{% endtrans %}</td>
      <td>{{ accounts.name_created }}</td>
    </tr>
    <tr>
      <td>{% trans %}Created At{% endtrans %}</td>
      <td>{{ accounts.created_at|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>{% trans %}Update By{% endtrans %}</td>
      <td>{{ accounts.name_updated }}</td>
    </tr>
    <tr>
      <td>{% trans %}Updated At{% endtrans %}</td>
      <td>{{ accounts.updated_at|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>{% trans %}Area{% endtrans %}</td>
      <td> {{ accounts.name_area }}</td>
    </tr>
    <tr>
      <td>{% trans %}Description{% endtrans %}</td>
      <td>{{ accounts.description }}</td>
    </tr>
    <tr>
      <td>{% trans %}Email{% endtrans %}</td>
      <td>{{ accounts.emails }}</td>
    </tr>
    <tr>
      <td>{% trans %}Phone{% endtrans %}</td>
      <td>{{ accounts.phones }}</td>
    </tr>
  </table>
</body>
<br>
    <footer class="footer text-center text-sm-start"> 
              &copy; <script>
                    document.write(new Date().getFullYear())
            </script> Business 
    </footer>
</html>

{% endblock %}