{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>Business</title>
  <style>
    #banner {
      background-color: #608E34;
      padding: 5px;
      text-align: center;
      font-size: 12px;
      border-radius: 10px;
      color: white;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div id="banner">
  <h1>Accounts Details</h1>
  </div>
  <br>
  <table>
    <tr>
      <td>Id</td>
      <td>{{ accounts.id }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ accounts.name }}</td>
    </tr>
    <tr>
      <td>Created By</td>
      <td>{{ accounts.createdby.name }}</td>
    </tr>
    <tr>
      <td>Created At</td>
      <td>{{ accounts.createdat|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>Update By</td>
      <td>{{ accounts.updatedBy.name }}</td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td>{{ accounts.updatedAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>Departments</td>
      <td>{% for department in accounts.departments %}
            {{ department.name }}<br>
        {% endfor %}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ accounts.description }}</td>
    </tr>
  </table>
</body>
</html>

{% endblock %}