{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>Business</title>
  <style>
    #banner {
      background-color: #608E34;
      padding: 5px;
      text-align: center;
      font-size: 12px;
      border-radius: 10px;
      color: white;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    h1 {
      margin-bottom: 20px;
    }
  </style>
</head>
<img src="{{ imageSrc }}"  width="80" alt="Logo"/>
<body>
<div id="banner">
  <h1>{% trans %}Leads Details{% endtrans %}</h1>
  </div>
  <br>
  <table>
    <tr>
      <td>Id</td>
      <td>{{ leads.id }}</td>
    </tr>
    <tr>
      <td>{% trans %}Name{% endtrans %}</td>
      <td>{{ leads.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Status{% endtrans %}</td>
      <td>{{ leads.idstatus.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Stage{% endtrans %}</td>
      <td>{{ leads.idsource.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Area{% endtrans %}</td>
      <td>{{ leads.idarea.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Department{% endtrans %}</td>
      <td>{{ leads.iddepartment.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Amount{% endtrans %}</td>
      <td>{{ leads.amount }} $</td>
    </tr>
    <tr>
      <td>{% trans %}Account{% endtrans %}</td>
      <td>{{ leads.account }}</td>
    </tr>
    <tr>
      <td>{% trans %}User{% endtrans %}</td>
      <td>{{ leads.iduser.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Created By{% endtrans %}</td>
      <td>{{ leads.createdby.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Created At{% endtrans %}</td>
      <td>{{ leads.createdat|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>{% trans %}Update By{% endtrans %}</td>
      <td>{{ leads.updatedBy.name }}</td>
    </tr>
    <tr>
      <td>{% trans %}Updated At{% endtrans %}</td>
      <td>{{ leads.updatedAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    
    <tr>
      <td>{% trans %}Description{% endtrans %}</td>
      <td>{{ leads.description }}</td>
    </tr>
  </table>
</body>
<br>
    <footer class="footer text-center text-sm-start">
              &copy; <script>
                    document.write(new Date().getFullYear())
            </script> Business 
    </footer>
</html>

{% endblock %}