{% extends "base.html.twig" %}

{% block body %}

  <table class="table table-hover" style="text-align:center">
            <thead class="table-secondary">
                <tr>
                <th onclick="sortTable(0)" style="-webkit-user-select: none; width: 5%; cursor: pointer" style="width: 5%" scope="col">Name</th>
                <th onclick="sortTable(1)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Account</th>
                <th onclick="sortTable(2)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Email</th>
                <th onclick="sortTable(3)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Phone</th>
                {# <th onclick="sortTable(3)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Created At</th>
                <th onclick="sortTable(4)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Created At</th>
                <th onclick="sortTable(5)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Created By</th>
                <th onclick="sortTable(6)" style="-webkit-user-select: none; width: 6%; cursor: pointer" style="width: 6%" scope="col">Updated By</th> #}
                <th style="width: 19%;cursor: default; -webkit-user-select: none;" scope="col">Actions</th>
                </tr>
            </thead>

            <tbody id="myTable">
                <tr>

                {% for contact in contacts %}

                        <td style="vertical-align: middle">{{ contact.name }} {{ contact.surname }}</td>
                        {# <td style="vertical-align: middle">{{ contact.iduser.name }}</td> #}
                        <td style="vertical-align: middle">{{ contact.idaccount.name }}</td>
                        <td style="vertical-align: middle">{{ contact.idaccount.name }}</td>
                        <td style="vertical-align: middle">{{ contact.idaccount.name }}</td>
                        {# <td style="vertical-align: middle">{{ contact.createdat|date('Y-m-d H:i:s') }}</td>
                        <td style="vertical-align: middle">{{ contact.createdat|date('Y-m-d H:i:s') }}</td>
                        <td style="vertical-align: middle">{{ contact.createdby.name }}</td>
                        <td style="vertical-align: middle">{{ contact.updatedby.name }}</td>
 #}
                        <td style="-webkit-user-select: none; vertical-align: middle">


                    {# {% if app.user.id is defined%} #}
                        {# {% if app.user.userRole.roles == "SUPERADMIN" %} #}
                        <a href="/contact/{{contact.id}}">
                            <span class="btn btn-outline-info col-lg-3" style="text-align: center">Show</a></span>
                        <a href="/contact/edit/{{contact.id}}">
                            <span class="btn btn-outline-success col-lg-3" style="text-align: center">Edit</a></span>
                        <a href="/contact/delete/{{contact.id}}" onclick="return confirm('Are you sure you want to permanently remove this item?')">
                                <span class="btn btn-outline-danger col-lg-3" style="text-align: center">Delete</a></span>
                        {# {% endif %} #}

                        {# {% if app.user.userRole.roles == "VIEWER" %} #}

{#                         <a href="/tickets/{{contact.id}}">
                            <span class="btn btn-outline-info col-lg-3  " style="text-align: center;">Show</a></span> #}

                        {# {% endif %}  #}
                    {# {% endif %} #}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %} 