{% extends "base.html.twig" %}

{% block body %}

<div class="page-wrapper">

            <!-- Page Content-->
            {# <div class="page-content-tab"> #}

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Business</a>
                                        </li><!--end nav-item-->
                                        <li class="breadcrumb-item active">Work</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Work</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->

                        <form action="/business/work">
                            <input type="text" style="float:left; width:300px" id="myInput" onkeyup="myFunction()" type="text" placeholder="{% trans %}Search{% endtrans %}..." class="form-control"></input>
                        </form>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-12">  
                          
                            <div class="card"> 
                              
                                <div class="card-body">
                                    <div class="kanban-board">
                                        <div class="kanban-col">
                                            <div class="kanban-main-card">                                        
                                                <div class="kanban-box-title">         
                                                    <h4 class="header-title mb-3">Leads</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-left" class="pb-1">
                                                  {% for leads in leads %}  
                                                    <div class="card" onclick="returnhrefshow('leads',{{ leads.id }})">
                                              
                                                        <div class="card-body">
                                                            <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ leads.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-success"></i>
                                                            <h5 class="my-1 font-14">{{ leads.name }}</h5>
                                                            <p class="text-muted mb-2">{{ leads.idarea.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ leads.idstatus.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ leads.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->
                                   

                                        <div class="kanban-col">
                                            <div class="kanban-main-card">                                                    
                                                <div class="kanban-box-title">
                                                    <h4 class="header-title mb-3">Qualification</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-center-left" class="pb-1">
                                                {% for OppQualification in OppQualification %}
                                                    <div class="card" onclick="returnhrefshow('opportunities',{{ OppQualification.id }})">
                                                        <div class="card-body">
                                                           <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ OppQualification.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-information"></i>
                                                            <h5 class="my-1 font-14">{{ OppQualification.name }}</h5>
                                                            <p class="text-muted mb-2">{{ OppQualification.iddepartment.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ OppQualification.idstage.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ OppQualification.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->


                                       <div class="kanban-col">
                                            <div class="kanban-main-card">                                                    
                                                <div class="kanban-box-title">
                                                    <h4 class="header-title mb-3">Proposal</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-center-left" class="pb-1">
                                                {% for OppProposal in OppProposal %}
                                                    <div class="card" onclick="returnhrefshow('opportunities',{{ OppProposal.id }})">
                                                        <div class="card-body">
                                                           <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ OppProposal.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-warning"></i>
                                                            <h5 class="my-1 font-14">{{ OppProposal.name }}</h5>
                                                            <p class="text-muted mb-2">{{ OppProposal.iddepartment.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ OppProposal.idstage.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ OppProposal.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->

                                        <div class="kanban-col">
                                            <div class="kanban-main-card">                                                    
                                                <div class="kanban-box-title">
                                                    <h4 class="header-title mb-3">Negotiation</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-center-left" class="pb-1">
                                                {% for OppNegotiation in OppNegotiation %}
                                                    <div class="card" onclick="returnhrefshow('opportunities',{{ OppNegotiation.id }})">
                                                        <div class="card-body">
                                                           <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ OppNegotiation.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-warning"></i>
                                                            <h5 class="my-1 font-14">{{ OppNegotiation.name }}</h5>
                                                            <p class="text-muted mb-2">{{ OppNegotiation.iddepartment.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ OppNegotiation.idstage.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ OppNegotiation.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->
                                        
                                        <div class="kanban-col">
                                            <div class="kanban-main-card">                                                    
                                                <div class="kanban-box-title">
                                                    <h4 class="header-title mb-3">Close Won</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-center-left" class="pb-1">
                                                {% for OppClosedWon in OppClosedWon %}
                                                    <div class="card" onclick="returnhrefshow('opportunities',{{ OppClosedWon.id }})">
                                                        <div class="card-body">
                                                           <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ OppClosedWon.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-success"></i>
                                                            <h5 class="my-1 font-14">{{ OppClosedWon.name }}</h5>
                                                            <p class="text-muted mb-2">{{ OppClosedWon.iddepartment.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ OppClosedWon.idstage.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ OppClosedWon.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->
                                                
                                            

                                        <div class="kanban-col">
                                            <div class="kanban-main-card">                                                    
                                                <div class="kanban-box-title">
                                                    <h4 class="header-title mb-3">Close Lost</h4>
                                                    <div class="dropdown kanban-main-dropdown">
                                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"></a>
                                                    </div>
                                                </div>
                                                
                                                <div id="project-list-center-left" class="pb-1">
                                                {% for OppClosedLost in OppClosedLost %}
                                                    <div class="card" onclick="returnhrefshow('opportunities',{{ OppClosedLost.id }})">
                                                        <div class="card-body">
                                                           <div class="col-6 align-self-center" >
                                                                        <a class="float-end" href="#">
                                                                            <p class="text-muted mb-2">{{ OppClosedLost.id }}</p>
                                                                        </a>
                                                            </div><!--end col-->
                                                            <i class="mdi mdi-circle-outline d-block mt-n2 font-14 text-danger"></i>
                                                            <h5 class="my-1 font-14">{{ OppClosedLost.name }}</h5>
                                                            <p class="text-muted mb-2">{{ OppClosedLost.iddepartment.name }}</p>
                                                            <div class="row justify-content-center">
                                                                <div class="col-6 align-self-center">
                                                                    <ul class="list-inline mb-0">                                                                    
                                                                        <li class="list-item d-inline-block mr-2">
                                                                            <a class="" href="#">
                                                                                <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                                                <span class="text-muted font-weight-bold">{{ OppClosedLost.idstage.name }}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div><!--end col-->
                                                                <div class="col-6 align-self-center">
                                                                    <a class="float-end" href="#">
                                                                        <p class="text-muted mb-2">{{ OppClosedLost.iddepartment.name }}</p>
                                                                    </a>
                                                                </div><!--end col-->
                                                            </div><!--end row-->
                                                        </div><!--end card-body-->
                                                    </div><!--end card-->
                                                    {% endfor %} 
                                                </div><!--end project-list-left-->
                                            </div><!--end /div-->
                                        </div><!--end kanban-col-->
                                    </div><!--end kanban-board-->                                                                    
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->

                </div><!-- container -->


<script type="text/javascript">

    function myFunction() 
    {
        var input, filter, table, tr, td, i, TxtValue, x, flag;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++)
        {
            flag = 0;

            for (x = 0; x < tr[i].getElementsByTagName("td").length-1; x++)
            {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) 
                {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) 
                    {
                        flag = 1;
                    } 
                }
            }
            if(flag==1)
            {
                tr[i].style.display = "";
            }
            else
            {
                tr[i].style.display = "none";
            }
        }
    }

     function returnhrefshow(entity, identity) {
         window.location.href = "/business/" + entity + "/edit/" + identity;
  }
</script>

{% endblock %} 